
body{
    color: azure;
    width: 90%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* padding-top: -30; */
}

.botones{
    transform: translateX(5.5vw);
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a{
    background-color: #6d4bbd;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;

}




.botones a:focus{
    background-color: rgb(50, 194, 194);
}

.greetings{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10rem;
    font-weight: 900;
    transform: translateX(5.5vw);
}
.greetings > span{
    animation: glow 4.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #6d4bbd, 0 0 50px #6d4bbd, 0 0 100px #6d4bbd;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}


.description{
    transform: translateX(5vw);
    font-size: 1.5rem;
    max-width: 95%;
    text-align: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

.button a{
   
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}




